/* @font-face {
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url();
}
 */

body{
    background-image: linear-gradient(0, #882DB5,#000000,#000000,#000000 , #882DB5);
    margin:0;
    padding:0;

    *{
        margin:0;
        padding:0;
    }
}



#Header{
    display:grid;
    grid-template-columns:10% 90%;
    background-color: #882DB5;
    height: 10vh;
    width:100%;
    align-items: center;
    justify-items: center;

    #Logo{
        height: 72px;
        width: 72x;
    }

    .LogoMask{
        mask-image:radial-gradient(circle,black 55%, rgba(0,0,0,0) 75%);
    }

    >p{
        color:white;
        font-size: 20px;
    }
}


#Content{
    margin:30px;
    padding:10px;
    min-height: 80vh;
    color: white;
    font-size: 3vh;
}

h1{
    font-weight: bold;
    color: #AACCEF;
    font-size: 7vh;
}


#Footer{
    background-color: #882DB5;
    height: 10vh;
    align-content: center;
    overflow-y:hidden;

    >p{
        color:white;
        font-size: 20px;
        text-align: center;
    }
}