#Content{
    margin:30px;
    padding:10px;
    min-height: 80vh;
    color: white;
    font-size: 3vh;
}

.textBlock{
    margin:20px;
    max-width: 50%;
    >p{
        margin: 20px;
    }
}

.Pic{
    display: inline-block;
    position:relative;
    margin:30px;
    width: 40%;
    
}