/* @font-face {
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url();
}
 */

body{
    background-image: linear-gradient(0, #882DB5,#000000,#000000,#000000 , #882DB5);
    margin:0;
    padding:0;

    *{
        margin:0;
        padding:0;
    }
}
#Header{
    display:grid;
    grid-template-columns:10% 80% 10%;
    background-color: #882DB5;
    height: 10vh;
    width:100%;
    align-items: center;
    justify-items: center;

    #Logo{
        width: 60px;
        height: 60px;
    }

    .LogoMask{
        mask-image:radial-gradient(circle,black 65%, rgba(0,0,0,0) 70%);
    }

    p{
        color: #FFFBEF;
        font-size: 20px;
        text-align: center;
        height: fit-content;
        align-self: center;
    }

    #Router{
        position:relative;
        width:8vw;
        box-shadow: none;
    }

    #Routes{
        display: none;
        padding:5px 0 0px 0;
        position:absolute;
        overflow-y: visible;
        background-color: #180E2F;
        font-size: 17px;
        width: inherit;
        flex-direction: column;
        z-index: 2;
        box-shadow: inherit;

        >a{
            padding:2px 0;
            border-style: solid;
            border-width: 2px;
            border-color: #000000;
        }

        a:hover{
            color:#FFFBEF;
        }
    }

    #Router:hover{
        background-color: #180E2F;
        box-shadow:-2px 5px 5px 4px #000000;
        #Routes{
            display: flex;
            box-shadow:-2px 6px 5px 4px #000000;
        }
    }
}


#Content{
    margin:30px;
    padding:10px;
    min-height: 80vh;
    color: white;
    font-size: 3vh;
}

h1{
    font-weight: bold;
    color: #AACCEF;
    font-size: 7vh;
    padding: 20px;
}

p{
    padding:0 20px;
}


a{
    color: #FFA6C9;
}

a:visited{
    color: #5CAA78;
}


#Footer{
    background-color: #882DB5;
    height: 10vh;
    align-content: center;
    overflow-y:hidden;

    >p{
        color:white;
        font-size: 20px;
        text-align: center;
    }
}
