#Header{
    grid-template-columns:10% 80% 10%;
    align-items:center;
    justify-items:center;
}

#HeaderMiddle{
    display:flex;
    width:60%;
    justify-content: space-around;
    justify-self: right;
    padding: 0 20px;


}

.HeaderButton{
    background-color: #000000;
    color: #AACCEF;
    font-size: 20px;
    font-family: monospace;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

#SearchBarContainer{
    position:static;
    top:0;
}

#SearchBar{
    width: 12.5vw;
    height: 4vh;
}

#VisibleInfo{
    width:80%;
    height:100vh;
    justify-self:center;
    margin: 20px;
    padding: 100px;
    background-origin: border-box;
    background-image: url("/Assets/Monitor.png");
    background-position: center;
    background-size: 100vw 90vw;
    overflow-y:auto;
}

#SearchResultContainer{
    display:none;
    position: relative;
    background-color:#882DB5;
    font-size: 14px;
    padding: 5px;
    z-index: 1;
}